.contact{
    &__text{
        color: black;
        display: flex;
        justify-content: center;
        padding: 40px 20px 0 20px;
    }

    &__list{
        list-style-type: none;
        padding: 60px 10px 40px 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        &-icon{
            padding: 15px;
             
            &-a{           
                padding: 50px;
                height: 300px;
                color: black; 
            }
        }
    }

    &__cv{
        display: flex;
        justify-content: center;
        text-align: center;
        &-item{
            text-decoration: none;
            color: black;
            padding: 35px;
            &:hover {
                color: orange;
              }  
        }
        
    }
}

.icon{
    font-size: xx-large;
    &:hover {
        color: orange
      }
}
