.contact{
    display: flex;
    justify-content: center;
    @media all and (min-width: 768px) {
        margin-top: 10px;
     }



    &__list{
        list-style-type: none;
        padding: 10px;
        
    @media all and (min-width: 768px) {
        display: flex;
     }

        &-icon{
            padding: 5px;

            
            &-a{           
                padding: 50px;
                height: 300px;
                color: orange;
                

            }

        }
    }
}

.icon{
    font-size: xx-large;
    &:hover {
        color: black;
      }
}