.contact{
    display: flex;
    justify-content: center;

    &__list{
        list-style-type: none;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        &-icon{
            padding: 15px;
             
            &-a{           
                padding: 50px;
                height: 300px;
                color: #0C474B; 
            }
        }
    }
}

.icon{
    font-size: xx-large;
    &:hover {
        color: orange
      }
}