.header{
    height: 10vh;
    padding: 10px;
    background-color: #0C474B;
    @media all and (min-width: 768px) {
        height: 15vh;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;         
    }

    &__menu{
        color: azure;
        position: absolute;
        margin: 15px 0 15px 15px;
        &:hover {
            color: orange
          }
        @media all and (min-width: 768px) {
            display:none;
        }
    }


    &__logo{
        display: flex;
        justify-content: center;
        @media all and (min-width: 768px) {
            justify-content:left;    
        }
        
        &-icon{
            height: 50px;
            border-radius: 50%;
            @media all and (min-width: 768px) {
                height: 100px;   
            }
        }   
    }

    &__list{
        color: azure;
        display: none;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        @media all and (min-width: 768px) {
            display: flex;
            flex-direction: row;
            font-size: 20px;
        }
        
        &-li{
            padding: 5px;
            &-item{
                text-transform: uppercase;
                text-decoration: none;
                color: azure;
                &:hover {
                    color: orange
                  }
                
                @media all and (min-width: 768px) {
                    padding: 35px;
                }
            }
        }

    }
}

.progress{
    display: flex;
    justify-content: center;
}