.header{
    height: 10vh;
    padding: 10px;
    background-color:orange;
    display:flex;
    align-items: center;
    justify-content: space-between;


    @media all and (min-width: 768px) {
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }

    &__menu{   
        &-bars{
            color: azure;
            margin: 15px 45px 15px 15px;
            &:hover {
                color: #0C474B;
              }
            @media all and (min-width: 768px) {
                display:none;
            }
        }

        &-list{
            display:none;
        }

    }


    &__logo{
        padding-left: 10px;
        @media all and (min-width: 768px) {
            position: relative;
            display: flex;
            justify-content: left;
            
        }
        
        &-icon{
            height: 50px;
            border-radius: 50%;
            @media all and (min-width: 768px) {
                height: 100px;   

            }
        }   
    }


    &__list{
        color: #0C474B;
        display: none;
        list-style-type: none;
        @media all and (min-width: 768px) {
            display: flex ;
            flex-direction: row;
            font-size: 20px;
        }
        
        &-li{
            padding: 5px;

            &-item{
                text-transform: uppercase;
                text-decoration: none;
                color: azure;
                &:hover {
                    color: #0C474B;
                  }
                
                @media all and (min-width: 768px) {
                    padding: 35px;
                }
            }
        }

    }
}
