.main{
    background: rgba(255,203,143,1);
    background: -moz-linear-gradient(top, rgba(255,203,143,1) 0%, rgba(250,250,250,1) 64%, rgba(250,250,250,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,203,143,1)), color-stop(64%, rgba(250,250,250,1)), color-stop(100%, rgba(250,250,250,1)));
    background: -webkit-linear-gradient(top, rgba(255,203,143,1) 0%, rgba(250,250,250,1) 64%, rgba(250,250,250,1) 100%);
    background: -o-linear-gradient(top, rgba(255,203,143,1) 0%, rgba(250,250,250,1) 64%, rgba(250,250,250,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,203,143,1) 0%, rgba(250,250,250,1) 64%, rgba(250,250,250,1) 100%);
    background: linear-gradient(to bottom, rgba(255,203,143,1) 0%, rgba(250,250,250,1) 64%, rgba(250,250,250,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcb8f', endColorstr='#fafafa', GradientType=0 );
    height: 85vh;
}

.home{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    &__hi{
        padding: 20px;
        font-size: xx-large;
    }
    &__name{
        padding: 10px
    }

    &__icons{
        padding: 10px;
        @media all and (min-width: 768px) {
            width: 700px;   
        }        
        &-item{
            height: 50px;
            margin: 20px 10px;
            @media all and (min-width: 768px) {
                height: 69px;
                margin: 40px 30px;

            }
        }

    }


}