.main{
    background: linear-gradient(180deg, rgb(241, 232, 215) 0%, rgb(8, 8, 8) 36%);
    min-height: 75%;
}

.home{
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}