.menu{
    background-color: orange;
    text-align: center;
    height: 85vh;
    padding: 10px;
    @media all and (min-width: 768px) {
        display: none;
    }

    
    
    &__list{
        list-style-type: none;
        
        &-li{
            padding: 15px;
        &-item{
            color: azure;
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
                color: #0C474B;
              }   
        }
    }  
    }
}