.projects{
    padding: 0 50px; 

    @media all and (min-width: 768px) {
        margin: 0 100px;
    }
    &__title{
        padding: 20px;
        text-align: center;
    }

    &__list{
        list-style-type:none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;

        @media all and (min-width: 768px) {
            flex-direction: row;
            flex-wrap: wrap;
            padding: 15px;
        }

        &-item{
            border: orange solid 3px;
            border-radius: 25px;
            margin: 15px;
            padding: 15px;
            height: 300px;
            width: 200px;
            background-color: rgb(204, 202, 202);

            @media all and (min-width: 768px) {
                display: flex;
                flex-direction: column;
                border: #0C474B solid 3px;
                border-radius: 25px;
                padding: 15px;
                margin-right: 15px;   
            }

            &-link{
                text-decoration:none;
                box-shadow: none;
                color: #000000;
            }

            &-description{
                padding: 3px;
                font-family: 'Josefin Sans', sans-serif;

                &-tecn{
                    text-align: center;
                    margin: 5px 0;
                }  
            }
            &-hp{
                height: 200px;
                width: 200px;
                background-image: url(../images/harrypotter.png);
                background-position: center;
                background-size: cover;
                border-radius: 15px;
                opacity: 0.5;
                transition-property: opacity;
            }
            &-hp:hover{
                    opacity: 1;
                }

            &-hangman{
                height: 200px;
                width: 200px;
                background-image: url(../images/hangman.png);
                background-position: center;
                background-size: cover;
                border-radius: 15px;
                opacity: 0.5;
                transition-property: opacity;
                }
            &-hangman:hover{
                    opacity: 1;
                    }
            
            &-jokers{
                height: 200px;
                width: 200px;
                background-image: url(../images/jokersscript.png);
                background-position: center;
                background-size: cover;
                border-radius: 15px;
                opacity: 0.5;
                transition-property: opacity;
                    }
            &-jokers:hover{
                    opacity: 1;
                        }
                        
            &-friends{
                height: 200px;
                width: 200px;
                background-image: url(../images/friends.png);
                background-position: center;
                background-size: cover;
                border-radius: 15px;
                opacity: 0.5;
                transition-property: opacity;
                        }
                &-friends:hover{
                    opacity: 1;
                            }

            &-anime{
                height: 200px;
                width: 200px;
                background-image: url(../images/anime.png);
                background-position: center;
                background-size: cover;
                border-radius: 15px;
                opacity: 0.5;
                transition-property: opacity;
                        }
                &-anime:hover{
                    opacity: 1;
                            }

            &-tasks{
                height: 200px;
                width: 200px;
                background-image: url(../images/tasks.png);
                background-position: center;
                background-size: cover;
                border-radius: 15px;
                opacity: 0.5;
                transition-property: opacity;
                        }
                &-tasks:hover{
                    opacity: 1;
                            }

            &-contactpage{
                height: 200px;
                width: 200px;
                background-image: url(../images/strangercoders.png);
                background-position: center;
                background-size: cover;
                border-radius: 15px;
                opacity: 0.5;
                transition-property: opacity;
                        }
                &-contactpage:hover{
                    opacity: 1;
                            }

            &-openspaces{
                height: 200px;
                width: 200px;
                background-image: url(../images/openspaces.png);
                background-position: center;
                background-size: cover;
                border-radius: 15px;
                opacity: 0.5;
                transition-property: opacity;
                        }
                &-openspaces:hover{
                    opacity: 1;
                            }
        }
    }
}